// Here you can add other styles
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

.c-sidebar {

    .c-sidebar-brand {
        background: #fff;
        border-right: 1px solid #3c4b64;
    }

}

.nav-tabs {
    padding-bottom: 2px;

    .nav-link {
      border: 0;
      color: #BBC5D5;
      transition: all 0.4s;
      position: relative;
  }

}



.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus,
.nav-tabs .nav-item.show .nav-link{
  border: 0;
  color: #11141A;
}
.nav-tabs .nav-link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  float: left;
  background: #2980C6;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 4px;
}
.nav-tabs .nav-item {
  border: 0;
  outline: none!important;
}
